* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Amaranth', sans-serif;
}

.navbar {
    background-image: linear-gradient(to top, #1b1b1b 0%, #000000 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-image: linear-gradient(to top, #ff4242 5%, #0fff50 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar___item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #4aca00;
    color: #fff;
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #00cf00;
    transition: all 0.3s ease;
}

@media screen and (max-width:960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #4e4e4e;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 70vh;
        font-size: 1.5rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section CSS */
.main {
    background: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    background-image: linear-gradient(to top, #01531d 0%, #0fff50 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 2rem;
    background-color: #e100ff;
    background-image: linear-gradient(to top, #7700ff 0%, #3d0050 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font: 1rem;
    font-weight: 700;
    color: #fff;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #00ff55 0%, #007457 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #7700ff;
    transform: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 50%;
    width: 50%;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    #main__img {
        height: 30%;
        width: 30%;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }

}

/* Services Section CSS */

.services {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.services h1 {
    background-image: linear-gradient(to top, #00ff55 0%, #007457 100%);
    background-size: 100%;
    margin: 2rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services h2 {
    position: absolute;
    top: 450px;
    left: 25px;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('images/pic2.png');
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}

.services__card:nth-child(2) {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('images/pic3.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}

.services__card button {
    color: #fff;
    padding: 8px 30px;
    border: none;
    outline: none;
    border: 4px;
    background-color: #0fff50;
    position: absolute;
    top: 400px;
    left: 25px;
    font-size: 1rem;
    cursor: pointer;
}

.services a {
    color: #fff;
    text-decoration: none;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .services {
        height: 1600px;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .services {
        height: 1400px;
        font-size: 1.2rem;
    }

    .services__card {
        width: 300px;
        margin: 0.5rem;
    }

    .services__card:nth-child(2) {
        width: 300px;
        margin: 0.5rem;
    }
}

/* Footer Section CSS */
.footer__container {
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex; 
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items  h2 {
    margin-bottom: 8px;
}

.footer__link--items > h2 {
    color: #fff;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin: 0.5rem;
}

.footer__link--items a:hover {
    color: #4aca00;
    transform: 0.3s ease-out;
}

@media screen and (max-width: 980px) {
    .footer__container {
        padding: 2rem 0;
    }

    .footer__links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__link--wrapper {
        margin-bottom: 0.5rem;
    }

    .footer__link--items {
        margin: 5px;
        width: auto;
        align-items: center;
        text-align: center;
    }

    .social__media--wrap {
        flex-direction: column;
    }

    .social__icons {
        margin-top: 0.5rem;
        width: 100%;
        justify-content: space-around;
    }
}

/* Social Icons */
.social__icon--link {
    color: #fff;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social__logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website__right {
    color: #4aca00;
}

@media screen and (max-width: 460px) {
    .footer__link--items {
        width: 100%;
    }

    .social__icons {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }
}

/* Links HTML CSS */
.link {
    background: #141414;
}

.link__content h1 {
    font-size: 2.5rem;
    background-image: linear-gradient(to top, #0199ff 0%, #0fff50 100%);   
    padding-left: 2%;
    padding-top: 2%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.link__content h2 {
    padding-left: 2%;
    font-size: 1.5rem;
    color: #0fff50;  
}

/* Links Services CSS */
.linkservices {
    background-color: #141414;
}

.linkcategory {
    padding-left: 2%;
    padding-top: 4%;
    font-size: 2rem;
    color: #ffffff;
}

.linkservices__container {
    margin-top: 2%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(1, 4fr);  
}

.linkservices__content {
    display: flex;
    flex-wrap: wrap;
}

.linkbutton {
    padding: 10px 20px;
    margin: 10px;
    font-size: 3rem;
    width: 400px;
    height: 100px;
    background-color: transparent;
    border: 4px solid #ffffff;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.linkbutton:hover {
    transition: 0.5s ease;
    transition-delay: 0s;
    background-color: #0fff50;
}

.linkbutton:not(:hover) {
    transition: 0.5s ease;
}

/* Responsive Section */
@media screen and (max-width: 1440px) {
    .linkbutton {
        width: 300px;
        font-size: 40px;
    }
}

@media screen and (max-width: 412px) {
    .linkbutton {
        margin-left: 16%;
    }
}
